.myImgSet {
    cursor: pointer;
    transition: 0.2s;
}

.myImgHover:hover {
    opacity: 0.7;
}

.cat {
    position: absolute;
    top: 270px;
    left: 165px;
    transform: translate(-50%, -50%);
}

.pig {
    position: absolute;
    top: 270px;
    left: 520px;
    transform: translate(-50%, -50%);
}

.dog {
    position: absolute;
    top: 270px;
    left: 850px;
    transform: translate(-50%, -50%);
}

.frog {
    position: absolute;
    top: 560px;
    left: 165px;
    transform: translate(-50%, -50%);
}

.horse {
    position: absolute;
    top: 270px;
    left: 1170px;
    transform: translate(-50%, -50%);
}

.monkey {
    position: absolute;
    top: 880px;
    left: 165px;
    transform: translate(-50%, -50%);
}

.dolphin {
    position: absolute;
    top: 560px;
    left: 520px;
    transform: translate(-50%, -50%);
}

.duck {
    position: absolute;
    top: 560px;
    left: 850px;
    transform: translate(-50%, -50%);
}

.zebra {
    position: absolute;
    top: 560px;
    left: 1170px;
    transform: translate(-50%, -50%);
}

.shark {
    position: absolute;
    top: 880px;
    left: 520px;
    transform: translate(-50%, -50%);
}

.tiger {
    position: absolute;
    top: 880px;
    left: 850px;
    transform: translate(-50%, -50%);
}

.octopus {
    position: absolute;
    top: 880px;
    left: 1170px;
    transform: translate(-50%, -50%);
}