.imgbackground{
    position: absolute;
    top: 380px;
    left:670px;
    transform: translate(-50%, -50%);
}
.hair{
    position: absolute;
    top: 141px;
    left:1204px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.ear{
    position: absolute;
    top: 259px;
    left:1220px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.tooth{
    position: absolute;
    top: 320px;
    left:1212px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.neck{
    position: absolute;
    top: 364px;
    left:1290px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.arm{
    position: absolute;
    top: 409px;
    left:1225px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.finger{
    position: absolute;
    top: 495px;
    left:1237px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.knee{
    position: absolute;
    top: 557px;
    left:1223px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.toe{
    position: absolute;
    top: 654px;
    left:1216px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.eye{
    position: absolute;
    top: 205px;
    left:800px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.nose{
    position: absolute;
    top: 274px;
    left:796px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.mouth{
    position: absolute;
    top: 319px;
    left:796px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.shoulder{
    position: absolute;
    top: 371px;
    left:730px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.chest{
    position: absolute;
    top: 409px;
    left:805px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.hand{
    position: absolute;
    top: 463px;
    left:764px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.stomach{
    position: absolute;
    top: 541px;
    left:793px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.leg{
    position: absolute;
    top: 583px;
    left:793px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.foot{
    position: absolute;
    top: 633px;
    left:776px;
    transform: translate(-50%, -50%);
    cursor:pointer;
}