
.myImgSet {
    cursor: pointer;
    transition: 0.2s;
}
.myImgHover:hover {opacity: 0.7;}
.zero{
    position: absolute;
    top: 260px;
    left:150px;
    transform: translate(-50%, -50%);
}
.one{
    position: absolute;
    top: 270px;
    left:370px;
    transform: translate(-50%, -50%);
}
.two{
    position: absolute;
    top: 300px;
    left:650px;
    transform: translate(-50%, -50%);
}
.three{
    position: absolute;
    top: 280px;
    left:910px;
    transform: translate(-50%, -50%);
}
.four{
    position: absolute;
    top: 270px;
    left:1130px;
    transform: translate(-50%, -50%);
}
.five{
    position: absolute;
    top: 540px;
    left:150px;
    transform: translate(-50%, -50%);
}
.six{
    position: absolute;
    top: 500px;
    left:330px;
    transform: translate(-50%, -50%);
}
.seven{
    position: absolute;
    top: 520px;
    left:520px;
    transform: translate(-50%, -50%);
}
.eight{
    position: absolute;
    top: 540px;
    left:700px;
    transform: translate(-50%, -50%);
}
.nine{
    position: absolute;
    top: 570px;
    left:910px;
    transform: translate(-50%, -50%);
}
.ten{
    position: absolute;
    top: 530px;
    left:1150px;
    transform: translate(-50%, -50%);
}