aside {
    display: block;
}
.widget.widget-artist {
    padding-bottom: 24px;
}
aside .widget {
    margin-bottom: 40px;
}
.widget {
    padding-bottom: 30px;
    margin-bottom: 43px;
}
.widget {
    float: left;
    width: 100%;
    height: 520px;
    position: relative;
}
.msl-black {
    color: #637e8f;
    font-family: 'Righteous', sans-serif;
}
.msl-heading {
    float: left;
    width: 90%;
    margin: 0 0 15px;
    position: relative;
    padding: 18px 25px 17px;
    background-color: #313d46;
}
.msl-black .msl-heading {

    float: left;
    width: 90%;
    margin: 0 0 15px;
    border: none;
    overflow: hidden;

}
.msl-black .widget-artist .artists-rank-list {
    float: left;
    width: 100%;
    padding: 0px;
}
.msl-black .artists-rank {
    background-color: #171e22;
}
.artists-rank {
    float: left;
    width: 100%;
    height: 80px;
    margin: 0 0 5px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
}
.artists-rank .rank-no {

    float: left;
    width: 40px;
    height: 20px;
    color: #c2c7d2;
    font-size: 26px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;

}
.figure-song {
    size: 40px 40px;
    width: 40px;
    height: 40px;
    border-radius: 0%;
    border: 2px solid #4e4e4e;
    margin: 0 20px 0 5px;
    overflow: hidden;
    position: relative;
}
.text-overflow {
    float: none;
    width: auto;
    overflow: hidden;
}
.artists-rank h6 {
    float: left;
    width: 100%;
    font-weight: bold;
    line-height: 18px;
    font-size: 15px;
    margin-left: 20px;
}
.msl-black h6 {
    color: #fff;
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
}
.artists-rank p {
    float: left;
    width: 100%;
    margin-left: 20px;
}
.scrollbar
{
    /*margin-left: 30px;*/
    float: left;
    height: 520px;
    width: 90%;
    background: #F5F5F5;
    overflow-y: scroll;
    /*margin-bottom: 25px;*/
}
#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}